<header class="header">
    <div class="header-right">
        <div class="header-right-img">
            <div id="divv"><img src="../assets/image3.jpg" alt="tolu" /></div>
        </div>
        <div class="header-right-left">
            <span>
                <h2>BAMISILE</h2>
                <h3>TOLULOPE ADETAYO</h3>
                <h4>FULLSTACK/MOBILEAPP DEVELOPER</h4>
            </span>
        </div>
    </div>
    <div class="header-left">
        <div>
            <ul>
                <li>
                    <h3>Tolulopebamisile@gmail.com</h3>
                </li>
                <li>
                    <h4>07038968337, 09025549043</h4>
                </li>
                <li>
                    <h4>Baale Akanji Layout, Jobele, Oyo, Oyo State.</h4>
                </li>
            </ul>
        </div>
    </div>
</header>
