<header class="header">
  <div class="header-right">
    <div class="header-right-img">
      <div id="divv"><img src="../assets/image3.jpg" alt="tolu" /></div>
    </div>
    <div class="header-right-left">
      <span>
        <h2>{{User.surname}}</h2>
        <h3>{{User.fullname}}</h3>
        <h4>{{User.stack}}</h4>
      </span>
    </div>
  </div>
  <div class="header-left">
    <div>
      <h3>{{User.email}}</h3>
      <ul *ngFor="let detail of Details;">
        <li>
          <h4>{{detail}}</h4>
        </li>
      </ul>
    </div>
  </div>
</header>

