<main class="main">
    <div class="main-small">
        <div class="small-div">
            <ul>
                <li>
                    <h1>MY C.V</h1>
                </li>
                <li>
                    <h3>Bio</h3>
                </li>
                <li>
                    <h3>About</h3>
                </li>
                <li>
                    <h3>Experience/Education</h3>
                </li>
                <li>
                    <h3>Skills</h3>
                </li>
                <li>
                    <h3>Contacts</h3>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-big">
        <div class="big-div">
            <div class="big-div-bio">
                <h3>BIO</h3>
                <p>
                    My name is Tolulope Bamisile, and i am a mechanical engineering student graduate from the
                    prestegious university
                    of FUTA.<br />I am also a native of ondo state here in Nigeria.<br />I am a very articulate
                    person and always
                    seeing the need for things to be improved on, and always trying to change the world <strong>step
                        at a
                        time</strong>, also i am very inquisitive to see our things works and why they work that way
                    and for this
                    reasons made me fall in love with tech.<br />I fell in love with <strong>technology since i was a
                        little boy
                    </strong>, where i would take my dads old computer and try to pieces it and see what was inside.
                    my curiousity led
                    me to trying to undestand our vehicles move and now i am venturing into our to change the world
                    with this tech
                    one step at a time.<br />i have avery in depth understanding of the <b>javascript languaguage</b>
                    and all of its
                    syntax and i am also a self taught fullstack devloper with over a year experience.i love
                    learning new thing and
                    fgor this reason it has been easy for me to build softwares and application with my knowledge of
                    programming
                    language.
                    i am also a very good team player with the amount of energy and skills i offer to the team and
                    also moral
                    support.
                </p>
            </div>
            <div class="big-div-exp">
                <h3>EXPERIENCE AND EDUCATION</h3>
                <ul>
                    <li>
                        <h4>EDUCATION</h4>
                    </li>
                    <li>
                        <p><b><em>Primary School</em> : Lord's Kiddies College, Oyo</b>(2004-2009)</p>
                    </li>
                    <li>
                        <p><b><em>Secondary School</em> : Olivet Baptist Academy, Oyo</b>(2009-2015)</p>
                    </li>
                    <li>
                        <p><b><em>Tertiary Institution</em> : Federal University of Technology ,
                                Akure</b>(2015-2021)
                        </p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>EXPERIENCE</h4>
                    </li>
                    <li>
                        <p><b>Project Manager - </b> Bincom Dev Center</p>
                    </li>
                </ul>
            </div>
            <div class="big-div-bio">
                <ul class="big-div-ul">
                    <li><a rel="noopener" target="_blank"
                            href="https://www.linkedin.com/in/tolulope-bamisile-3158bb231/">Linkedin</a></li>
                    <li><a rel="noopener" target="_blank"
                            href="https://web.facebook.com/tolulope.bamisile.3">Facebook</a></li>
                    <li><a rel="noopener" target="_blank"
                            href="https://twitter.com/tolusneh17?t=VT3EkyyynUhfBNVx3Mqjiw&s=09">Twitter</a></li>
                    <li><a rel="noopener" target="_blank" href="https://github.com/tolu2507/">GitHub</a></li>
                    <li><a rel="noopener" target="_blank"
                            href="https://www.instagram.com/p/CWykN0sIpKSwwLCRE3mZm5T6iyTHeq3hgqX2H80/?igshid=N2ZiY2E3YmU=">Instagram</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>SKILLS</h3>
                <ul>
                    <li><strong>Javascript</strong></li>
                    <li><strong>React</strong></li>
                    <li><strong>HTML5</strong></li>
                    <li><strong>CSS</strong></li>
                    <li><strong>JQuery</strong></li>
                    <li><strong>Typescript</strong></li>
                    <li><strong>Mongodb</strong></li>
                    <li><strong>Express</strong></li>
                    <li><strong>NodeJs</strong></li>
                    <li><strong>Python</strong></li>
                    <li><strong>Project management</strong></li>
                    <li><strong>Mechanical engineering</strong></li>
                    <li><strong>Git</strong></li>
                    <li><strong>GitHub</strong></li>
                </ul>
            </div>
        </div>
    </div>
</main>
