<main class="main">
  <div class="main-small">
    <div class="small-div">
      <ul *ngFor="let detail of CvDetails; index as position">
        <li>
          <h3>{{detail}}</h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-big">
    <div class="big-div">
      <div class="big-div-bio">
        <h3>BIO</h3>
        <p>
          My name is Tolulope Bamisile, and i am a mechanical engineering student graduate from the
          prestegious university
          of FUTA.<br />I am also a native of ondo state here in Nigeria.<br />I am a very articulate
          person and always
          seeing the need for things to be improved on, and always trying to change the world <strong>step
            at a
            time</strong>, also i am very inquisitive to see our things works and why they work that way
          and for this
          reasons made me fall in love with tech.<br />I fell in love with <strong>technology since i was a
            little boy
          </strong>, where i would take my dads old computer and try to pieces it and see what was inside.
          my curiousity led
          me to trying to undestand our vehicles move and now i am venturing into our to change the world
          with this tech
          one step at a time.<br />i have avery in depth understanding of the <b>javascript languaguage</b>
          and all of its
          syntax and i am also a self taught fullstack devloper with over a year experience.i love
          learning new thing and
          fgor this reason it has been easy for me to build softwares and application with my knowledge of
          programming
          language.
          i am also a very good team player with the amount of energy and skills i offer to the team and
          also moral
          support.
        </p>
      </div>
      <div class="big-div-exp">
        <h3>EXPERIENCE AND EDUCATION</h3>
        <h4>EDUCATION</h4>
        <ul *ngFor="let education of Educations; index as position">
          <li>
            <p><b><em>{{education.topic}}</em>{{education.text}}</b>{{education.date}}</p>
          </li>
        </ul>
        <h4>EXPERIENCE</h4>
        <ul *ngFor="let experience of Experience; index as position">
          <li>
            <p><b>{{experience.header}}- </b>{{experience.details}}</p>
          </li>
        </ul>
      </div>
      <div class="big-div-bio">
        <ul class="big-div-ul" *ngFor="let biodetail of BioDetails; index as position">
          <li><a rel="noopener" target="_blank" href={{biodetail.href}}>{{biodetail.text}}</a></li>
        </ul>
      </div>

      <div>
        <h3>SKILLS</h3>
        <ul *ngFor="let skill of skills; index as position">
          <li><strong>{{skill}}</strong></li>
        </ul>
      </div>

    </div>
  </div>
</main>
